<link rel="stylesheet" href="/stylesheets/global.css">

<div class="carousel-container">
  <div class="carousel-content">
    <div class="carousel-text">
        <h3 id="carousel-h3">Featured</h2>

      <h2 id="carousel-title">Innovation</h2>
      <p id="carousel-description">
        We thrive on pushing boundaries and exploring new ideas to create a lasting impact. At our core, innovation drives everything we do, from developing groundbreaking technologies to reimagining the way we approach challenges in our industry.
      </p>
    </div>
    <div class="carousel-image">
      <img id="carousel-image" src="/images/innovation.png" alt="Innovation">
    </div>
  </div>
  <!-- Navigation Arrows -->
  <div class="carousel-arrows">
    <button class="arrow left-arrow" onclick="prevSlide()">&#10094;</button>
    <button class="arrow right-arrow" onclick="nextSlide()">&#10095;</button>
  </div>
</div>

<script src="/javascripts/carousel.js"></script>
