<header class="navbar">
    <div class="logo">
      <a href="/">
        <img src="../../public/media/images/neramtransparent.png" alt="Neram Logo" />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/insights">Insights</a></li>
        <li><a href="/careers">Careers</a></li>
      </ul>
    </nav>
  </header>
  