<section class="hero">
    <video autoplay muted loop playsinline class="hero-video">
      <source src="/videos/hero-videonew.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="hero-content">
      <h1 class="font-playfair">Together, We<br />Shape Ambition<br />Into Reality</h1>
      <p class="font-lora">
        Neram has uncovered hidden opportunities in the financial markets by empowering exceptional minds to push boundaries and deliver groundbreaking solutions.
      </p>
      <button onclick="scrollToSection('about')" class="font-sourcesans">Discover More</button>
    </div>
  </section>
  