<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<link rel="stylesheet" href="/stylesheets/global.css"><!-- views/applySuccess.ejs -->
<%- include('partials/header') %>

<section class="padding10">
  <h1>Thank you for submitting your application!</h1>
  <p>We will review your information and be in touch if there’s a match.</p>
</section>

<%- include('partials/footer') %>
